.buyerList {
    width: 100%;
    padding: 20px;
    background-color:rgb(255, 255, 255);
  }
  
  .buyerList  #filter {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    background-color: #3eb157;
    font-weight: bold;
    width: 75px;
    border-radius: 10px;
    height: 35px;
    float: right;
    margin-right: 50px;
  }
  
  .buyerTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .buyerTable th, .buyerTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .buyerTable th {
    background-color: #4CAF50;
    color: white;
  }

  .buyerTable tr:nth-child(odd){
    background-color: rgb(240 253 244);
  }
  
  .buyerTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .buyerTable tr:hover {
    background-color: #e8e6e6;
  }
  
  .buyerTable button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buyerTable button:hover {
    background-color: #45a049;
  }
  
  .buyerPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
  
  }