/* General Form Styles */
form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input and Select Styles */
form select,
form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button Styles */
form button {
  width: 100%;
    padding: 5px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #84df99;;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #218838;
}

/* Title Styles */
form h2 {
  text-align: center;
  margin-bottom: 180px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

/* Placeholder Styles */
input::placeholder {
  color: #aaa;
}

/* Form Container Styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%; /* Changed to 100% for better responsiveness */
}

/* Form Title Styles */
.form-title {
  margin-bottom: 10px;
}

/* Label Styles */
.form-label {
  margin: 10px 0 5px;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

/* Input Styles */
.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Button Styles */
.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-align: center;
}

.form-button:hover {
  background-color: #45a049;
}
